include ../Atoms/atomes.jade

mixin card( title, content, classes )
	if !classes
		- var classes = ''
	else
		- var classes = '--' + classes
	div(class="molecules--card")
		+atome-h1( title )(class="atome--h1" + classes)
		+atome-p( title )(class="atome--p" + classes)