@import "components/harp-bourbon/scss/bourbon";
@import "settings/typography";
$visual-grid: false;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;
@import "components/base/base";
@import "components/harp-neat/scss/neat";

// composants custom
@import "components/_buttons";
@import "components/_typography";

body{
	background: #fff;
	color: #444343;
	margin: 0;
}

.container {
	@include outer-container;
	padding: 0 20px;
	@include media($xlarge-screen) {
		padding: 0;
	}
}