include Atomics/Templates/section.jade

- var content = [{'title': 'premier titre', 'contenu': 'premier contenu', 'classes': ''},{'title': 'second titre', 'contenu': 'second contenu'},{'title': 'troisieme titre', 'contenu': 'troisieme contenu'}]
- var content2 = [{'title': 'quatrieme titre', 'contenu': 'premier contenu'},{'title': 'second titre', 'contenu': 'second contenu'},{'title': 'troisieme titre', 'contenu': 'troisieme contenu'}]

+section( content )

+section( content2 )

